// Specify absolute path to RICO container
params.rico_container = "/path/to/rico_container.sif"

// Add paths to requested CIBERSORT scripts (See README.md)
params.cibersort_script = "${projectDir}/scripts/CIBERSORT.R"
params.cibersort_matrix = "${projectDir}/scripts/LM22.txt"

process {
	container = params.rico_container
	withName: STAR_RSEM {
		container = params.rico_container
		cpus = 48
		memory = { 48.GB + (12.GB * task.attempt) }
	}
	withName: prep_files_for_immunedeconv {
		container = params.rico_container
		cpus = 4
		memory = { 16.GB + (4.GB * task.attempt) }
	}
	withName: extract_matrix {
		container = params.rico_container
		cpus = 1
		memory = { 2.GB + (1.GB * task.attempt) }
	}
	withName: immunedeconv {
		container = "https://depot.galaxyproject.org/singularity/r-immunedeconv%3A2.0.3--r41hdfd78af_2"
		cpus = 4
		memory = { 16.GB + (4.GB * task.attempt) }
		errorStrategy = { (method == "mcp_counter" || method == "xcell") ? 'ignore' : 'terminate' }
	}
	withName: immunedeconv_cibersort {
		container = "https://depot.galaxyproject.org/singularity/r-immunedeconv%3A2.1.1--r42hdfd78af_0"
		cpus = 4
		memory = { 16.GB + (4.GB * task.attempt) }
	}
	withName: run_cibersort {
		container = params.rico_container
		cpus = 4
		memory = { 16.GB + (4.GB * task.attempt) }
	}
	withName: update_LM22 {
		container = params.rico_container
		cpus = 1
		memory = { 1.GB + (1.GB * task.attempt) }
	}
	withName: IPASS {
		container = params.rico_container
		cpus = 4
		memory = { 16.GB + (4.GB * task.attempt) }
	}
	withName: M1M2 {
		container = params.rico_container
		cpus = 4
		memory = { 16.GB + (4.GB * task.attempt) }
	}
}


profiles {

	standard {
		process {
		 	executor = 'local'
			maxRetries = 1
			errorStrategy = { return 'retry' }
			cpus = 6
			memory = "32 GB"
		}

		apptainer {
		  autoMounts = true
		  enabled = true
		}
		singularity {
		  autoMounts = true
		  enabled = true
		}
	}

	production {
		process {
			clusterOptions = "--qos=prod"
			executor = 'slurm'
			maxRetries = 3
			errorStrategy = { return 'retry' }
			cpus = 6
			memory = "32 GB"
		}

		apptainer {
		  autoMounts = true
		  enabled = true
		}
		singularity {
		  autoMounts = true
		  enabled = true
		}
	}
}
